.fake-blog--login-screen.hidden,
.fake-blog--main.hidden {
    display: none;
}

.fake-blog--login-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.fake-blog--login-form,
.fake-blog--info,
.fake-blog--post,
.fake-blog--post-form {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #333333;
}

.fake-blog--login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fake-blog input[type="text"],
.fake-blog textarea {
    background: #666666;
    padding: 5px;
    border: 1px solid #222222;
    border-radius: 5px;
    color: white;
}

.fake-blog input[type="text"]:focus,
.fake-blog textarea:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.fake-blog input[type="text"]::placeholder,
.fake-blog textarea::placeholder {
    color: #aaaaaa;
}

.fake-blog button,
.fake-blog input[type="button"],
.fake-blog input[type="submit"] {
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
    background: #222222;
    border: 1px solid #666666;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #666666;
    color: #dddddd;
    cursor: pointer;
}

.fake-blog button:focus,
.fake-blog input[type="button"]:focus,
.fake-blog input[type="submit"]:focus {
    outline: none;
    border-color: orange;
}

.fake-blog button:hover,
.fake-blog input[type="button"]:hover,
.fake-blog input[type="submit"]:hover {
    box-shadow: 0 1px 3px 0 #aaaaaa;
}

.fake-blog button:active,
.fake-blog input[type="button"]:active,
.fake-blog input[type="submit"]:active {
    top: 1px;
}

.fake-blog button:active:focus,
.fake-blog input[type="button"]:active:focus,
.fake-blog input[type="submit"]:active:focus {
    outline: none;
    border-color: #666666;
}

.fake-blog--login-submit {
    margin-top: 10px;
}

.fake-blog--main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 400px;
    padding: 20px;
}

.fake-blog--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #333333;
}

.fake-blog--visit {
    margin: 0;
}

.fake-blog--visit input[type="submit"] {
    margin: 0;
}

.fake-blog--info {
    margin-right: 20px;
}

.fake-blog--right-column {
    flex-basis: 400px;
}

.fake-blog--username {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 700;
}

.fake-blog--post-form textarea {
    width: 100%;    
    resize: vertical;
}

.fake-blog--login-screen label,
.fake-blog--post-form label {
    display: block;
    margin-bottom: 5px;
}

.fake-blog--posts {
    display: flex;
    flex-direction: column;
}

.fake-blog--posts:empty {
    display: none;
}

.fake-blog--post {
    margin: 3px 0;
    border-radius: 0;     
}

.fake-blog--post:first-of-type {
    border-radius: 5px 5px 0 0;
}

.fake-blog--post:last-of-type {
    border-radius: 0 0 5px 5px;
}

.fake-blog--post:only-of-type {
    border-radius: 5px;
}

.fake-blog--post.my-post {
    background-color: #222222;
}

.fake-blog--post.owners-post {
    box-shadow: inset 5px 2px 0 0 #aaaaaa;
    padding: 12px 10px 10px 15px;
}

.fake-blog--post__username {
    font-size: 0.9em;
    font-weight: 700;
    color: #e6892d;
}

.fake-blog--post__date {
    font-size: 0.8em;
    font-style: italic;
    color: #aaaaaa;
}

.fake-blog--post__text {
    white-space: pre-wrap;
}

.fake-blog--avatar {
    position: relative;
    width: 100px;
    height: 100px;
    background: #555555;
}

.fake-blog--avatar::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #aaaaaa;
}

.fake-blog--avatar::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 45%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px 20px 0 0;
    background: #aaaaaa;
}
