.fake-blog--login-screen.hidden,
.fake-blog--main.hidden {
    display: none;
}

.fake-blog--login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.fake-blog--login-form,
.fake-blog--info,
.fake-blog--posts {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #333333;
}

.fake-blog--login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fake-blog input[type="text"],
.fake-blog textarea {
    background: #666666;
    padding: 5px;
    border: 1px solid #222222;
    border-radius: 5px;
    color: white;
}

.fake-blog input[type="text"]:focus,
.fake-blog textarea:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.fake-blog input[type="text"]::placeholder,
.fake-blog textarea::placeholder {
    color: #aaaaaa;
}

.fake-blog--login-submit {
    margin-top: 10px;
}

.fake-blog--main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 400px;
}

.fake-blog--info {
    /* flex-basis: 200px; */
}

.fake-blog--posts {
    flex-basis: 300px;
}

.fake-blog--posts textarea {
    width: 100%;    
    resize: vertical;
}

.fake-blog--login-screen label,
.fake-blog--post-form label {
    display: block;
    margin-bottom: 5px;
}

.fake-blog--avatar {
    position: relative;
    width: 150px;
    height: 150px;
    background: #555555;
}

.fake-blog--avatar::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #aaaaaa;
}

.fake-blog--avatar::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 45%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px 20px 0 0;
    background: #aaaaaa;
}