body {
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    color: white;
    background: #888888;
}

.site-header {
    background: #444444;
    padding: 20px;    
}

.site-header, article {
    border-top: 5px solid #f68b1e;
}

.page-title {
    margin-top: 0;
}

.page-subtitle {
    font-style: italic;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}

code, pre {
    color: orange;
    white-space: pre-wrap;
}

main {
    display: flex;
    padding: 10px;
}

.gallery-selection {
    align-self: flex-start;
    width: 400px;
    margin-right: 50px;
    background: #555555;
    border-radius: 10px;
}

.gallery-selection > h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #888888;
}

.gallery-selection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-selection li {
    display: block;
    position: relative;
    left: 0;
    box-sizing: border-box;
    height: 80px;
    padding: 10px;
    margin-bottom: 3px;
    background: #444444;
    cursor: pointer;
    transition: left 0.1s linear;
}

.gallery-selection li .gallery-selection__card-name {
    font-size: 18px;
    font-weight: 700;
}

.gallery-selection li::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-color: transparent;
    border-left-color: #444444;
    border-width: 40px 0;
    transition: right 0.1s linear, border-width 0.1s linear;
}

.gallery-selection li:last-child {
    margin-bottom: 10px;
}

.gallery-selection li:hover {
    left: 5px;
    background: #333333;
}

.gallery-selection li:hover::after,
.gallery-selection li.active::after {
    right: -20px;
    border-width: 40px 0 40px 20px;
    border-left-color: #333333;
}

.gallery-selection li.active {
    left: 10px;
    background-color: #f68b1e;
    text-shadow: 1px 1px 2px black;
}

.gallery-selection li.active::after {
    border-left-color: #f68b1e;
}

.gallery-content {
    width: 1000px;
}

.gallery-item {
    display: none;
    position: relative;
    margin-bottom: 20px;
    background: #555555;
    border-width: 3px;
    border-radius: 10px;
}

.gallery-item.active {
    display: block;
}

.gallery-item-header {
    padding: 20px;
    background: #444444;
    border-bottom: 2px solid #aaaaaa;
    border-radius: 10px 10px 0 0;
}

.gallery-item-content > p {
    margin: 20px 30px;
}

.tab-container {
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px 0 30px;
    min-height: 400px;
}

article p {
    line-height: 130%;
}
