.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header sidebar"
    "desc sidebar";
  gap: 10px;
}

.about-header {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(auto, 200px) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "img name"
    "img links";
  gap: 10px 20px;
}

.about-header__picture {
  grid-area: img;

  border-radius: 50%;
}

.about-header__name {
  grid-area: name;
  place-self: end start;
  margin: 0;

  font-family: $fonts-heading;
  font-weight: 700;
  font-size: 20px;
}

.about-header__links {
  grid-area: links;
  place-self: start;
  margin-left: 20px;

  display: grid;
  gap: 5px;

  a {
    color: rgb(101, 114, 128);
    &:hover {
      color: rgb(64, 75, 85);
    }
    &:active {
      color: rgb(26, 30, 34);
    }
  }
}
