.demo--loading {
  .demo__display {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
}

.demo__display {
  width: 100%;
  min-height: 700px;
  border: none;
}
