.demos {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "tabs display";
  grid-gap: 20px;
}

.demos__tab-list {
  grid-area: tabs;
  display: grid;
  align-content: start;
  grid-gap: 3px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.demos__tab-item {
  display: grid;
}

.demos__tab {
  position: relative;
  left: 0;
  padding: 20px 10px;

  font-family: $fonts-heading;
  font-size: 1.1em;
  color: white;
  text-shadow: 1px 1px 2px $color-base;

  background-color: $color-accent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: left 0.1s linear;

  &:hover {
    background-color: #f38200;
  }

  &--active,
  &--active:hover {
    left: 5px;
    background-color: #ec6a00;
  }
}
