.gh-events__heading {
  margin: 0;
  margin-bottom: 20px;
  font-family: $fonts-heading;
}

.gh-events__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.gh-events__item {
  margin-bottom: 20px;
}
