.project {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 600px;
  gap: 10px;

  padding: 10px 0;

  box-shadow: 0 5px 5px -5px rgba(68, 68, 68, 0.5);
}

.project__title {
  margin: 0;
  padding: 5px 0;

  font-size: 1.5em;
  font-family: $fonts-heading;
  font-weight: 400;
  text-transform: lowercase;

  border-top: 1px solid rgba(246, 138, 30, 0.8);
}

.project__description {
  margin: 0;
}

.project__image {
  grid-row: 1 / -1;
  grid-column: 2 / span 1;

  max-height: 400px;
  object-fit: cover;
  object-position: top;
}

.project__tags {
  grid-column: 1 / span 1;

  display: flex;
  align-items: start;
  gap: 5px;

  padding: 5px 0;
}

.project__tag {
  display: inline-block;
  padding: 3px 5px;

  font-size: 0.9em;
  font-weight: 700;

  border-radius: 5px;
}

.project__links {
  display: flex;
  gap: 10px;
}

.project__link {
  margin: 0 -3px;
  padding: 1px 3px;
  color: rgb(10, 86, 121);
  border-radius: 5px;

  &:hover {
    background-color: rgba(10, 86, 121, 0.1);
  }
}
