*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #dddddd;
}

a {
  text-decoration: none;
}

code,
pre {
  white-space: pre-wrap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
