.project {
  padding-left: 10px;

  background-color: rgba(245, 245, 245, 0.2);
  /* border-radius: 5px; */
  box-shadow: 0 3px 5px -5px #444444;
}

.project__title {
  margin: 0;
  padding: 5px 0;

  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: lowercase;

  border-bottom: 2px solid rgba(246, 138, 30, 0.8);
}

.project__content {
  display: flex;
  justify-content: space-between;
}
